<% @favorites.each do |f| %>
  <%= link_to f.recap, style:"text-decoration: none; color: black", class: "recapcard" do %>
    <img src="<%= f.recap.book.photo_url %>" class="card__image">
    <div class="card__overlay">
      <div class= "card__header">
        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
        <% if f.recap.user.avatar.attached? %>
            <%= image_tag f.recap.user.avatar, class: "card__thumb" %>
          <% else %>
            <%= image_tag "default-avatar.png", class: "card__thumb"  %>
        <% end %>
        <div class="card__header-text">
          <h2 class="card__title"><%= f.recap.title %></h2>
          <span class="card__status"><%= f.recap.user.username %>
            <% if f.recap.avg_rating == nil %>
              <i class="fas fa-star" style="color: #F6AE2D; margin-right: 8px;"></i>0
            <% else %>
              <i class="fas fa-star" style="color: #F6AE2D; margin-right: 8px;"></i><%= f.recap.avg_rating.round(1) %>
            <% end %>
          </span>
        </div>
      </div>
      <p class="card__description"><%= f.recap.summary.split.first(30).join(" ") %>...</p>
    </div>
      <%= link_to favorite_path(f), method: :delete, data: { confirm: "Are you sure you want to delete this recap?"} do %>
        <i class="fas fa-trash"></i>
      <% end %>
  <%end%>
<%end%>
