<div class="row">
  <div class="col-md-4">
    <div class="profile mt-4 justify-content-center">
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar, class: "avatar" %>
        <% else %>
          <%= image_tag "default-avatar.png", class: "avatar"  %>
        <% end %>
        <h2>Hi <%= current_user.first_name %>!</h2>
        <h2 style="color: #EB9C0A;">Your Dashboard</h2>
      <div class="dash-cards">
        <% @ratings = Rating.where(recap_id: @recaps) %>
        <p style="font-size: 40px; font-weight: bold; display: flex; flex-direction: column;"><%= @ratings.average("star") %>
          <i class="fas fa-star" style="color: #F6AE2D; font-size: 30px;"></i>
        </p>
        <p>Your average rating</p>
      </div>

      <div class="dash-cards">
        <% @ratings = Rating.where(recap_id: @recaps) %>
        <p style="font-size: 40px; font-weight: bold;"><%= @recaps.count %></p>
        <p>Number of recaps you wrote</p>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="tabs">
  <div class="tab-2">
    <label for="tab2-1">Your favorites</label>
    <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
    <div>
      <h4>Tab One</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consequat id velit quis vestibulum. Nam id orci eu urna mollis porttitor. Nunc nisi ante, gravida at velit eu, aliquet sodales dui. Sed laoreet condimentum nisi a egestas.</p><p>Donec interdum ante ut enim consequat, quis varius nulla dapibus. Vivamus mollis fermentum augue a varius. Vestibulum in sapien at lectus gravida lobortis vulputate sed metus. Duis scelerisque justo et maximus efficitur. Donec eu eleifend quam. Curabitur aliquet commodo sapien eget vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum vel aliquet nunc, finibus posuere lorem. Suspendisse consectetur volutpat est ut ornare.</p>
    </div>
  </div>
  <div class="tab-2">
    <label for="tab2-2">Your recaps</label>
    <input id="tab2-2" name="tabs-two" type="radio">
    <div>
      <h4>Tab Two</h4>
      <p>Quisque sit amet turpis leo. Maecenas sed dolor mi. Pellentesque varius elit in neque ornare commodo ac non tellus. Mauris id iaculis quam. Donec eu felis quam. Morbi tristique lorem eget iaculis consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean at tellus eget risus tempus ultrices. Nam condimentum nisi enim, scelerisque faucibus lectus sodales at.</p>
    </div>
  </div>
</div>
  </div>
</div>
