<div class="container p-3 w-50">
  <div class="row justify-content-center">
    <div class="form">
      <h2 style="padding: 12px;">Add a new Recap:</h2>

      <%= simple_form_for([@book, @recap])  do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
        <!-- <%= f.association :book %>-->
          <%# <p><%= f.label "Choose your book*"</p> %>
          <%# <%= f.collection_select :book_id, Book.all, :id, :title, include_blank: true %> 
          <%= f.input :title %>
          <%= f.input :summary %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, class: "btn-action" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
