<!-- Banner with title, author, rating -->
<div class="banner" style="background-image: url(<%= image_url "banner.png" %>);">
  <div class="container">
    <h3><strong>Recapped by: <%=@recap.user.username %></strong></h3>
    <h6><strong>Recap Name: <%=@recap.title %></strong></h6>
    <% if @recap.ratings.average("star") == nil %>
      <a href="#rating-cards" class="rating-link"><p>Be the first to leave a review!</p></a>
    <% else %>
      <%= render "shared/rating" %>
    <% end %>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="container col-lg-7 col-sm-12">
      <h6><strong>Author: <%= @recap.book.author %></strong></h6>
      <ul class="nav nav-pills mb-3" style="display: flex; justify-content: center;" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Recap Summary</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Book Description</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Key Points</button>
        </li>
      </ul>

      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <%= simple_format(@recap.summary) %>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <%= @description = @recap.book.description %>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
          <% @recaps = Recap.where(book_id: @recap.book.id) %>
          <% @recaps.each do |recap| %>
            <%= simple_format(recap.keypoint) %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="photo-card col-lg-5 col-sm-12 p-3">
      <div style="display: flex;">
        <%= image_tag @recap.book.photo_url, class: "book-image" %>

  <!-- Icons - library, share, add -->
        <div class="icon-item">
          <ul class="social-links" style="list-style: none;">
            <li>
              <%= simple_form_for([@recap, @favorite]) do |f| %>
                <%= f.button :button do  %>
                <i class="social-icon fas fa-bookmark"></i>
                  Add to Library
                <% end %>
              <% end %>
            </li>
            <li><i class="social-icon fas fa-share-alt"></i> Share recap</li>
            <li><i class="social-icon fas fa-plus" data-bs-toggle="modal" data-bs-target="#exampleModal"></i> Add Review</li>
          </ul>
          <!--Delete recap-->
          <% if @recap.user == current_user %>
            <%= link_to "Delete", recap_path(@recap), class: "btn btn-action", method: :delete, data: { confirm: "Are you sure you want to delete this recap?"} %>
          <% end %>

          <!--Edit recap-->
          <% if @recap.user == current_user %>
            <%= link_to "Edit recap", edit_recap_path(@recap), class: "btn btn-action" %>
          <% end %>
        </div>
      </div>

      <!--Should display "either all recaps except for the recap we are on OR No further recaps available. " -->
      <div class="mt-5 col-lg-12 col-sm-12">
        <h3>More recaps like this</h3>
        <% @recaps_current = Recap.where(book_id: @recap.book).filter { |recap| recap.id != @recap.id} %>
        <% @recaps_current.each do |recap| %>

          <%= link_to recap, style:"text-decoration: none; color: black" do %>
            <div class="card-all my-3" style="flex-direction: row-reverse; justify-content: center; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
              <p><strong>Preview: </strong><%= recap.summary.split.first(40).join(" ") %>...</p>
              <div class= "card-all-infos" style="width: 100%;">
                <h2 style="width: 150px;"><%= recap.title %></h2>
                <div style="display: flex; margin-top: 5px;">
                  <p style="margin-right: 5px;"><%= recap.user.username %></p>
                  <% if recap.user.avatar.attached? %>
                    <%= image_tag recap.user.avatar, class: "recap-avatar" %>
                

              <%# <div class="card-rating" style="width: 100%; margin-left: 15px; margin-right: 10px;"> %>
                <% if recap.ratings.average("star") == nil %>
                  <p>0 Ratings</p>
                <% else %>
                  <i class="fas fa-star m-2" style="color: #F6AE2D;"></i><%= recap.ratings.average("star").round(1) %>
                <% end %>
              <%# </div> %>
              </div>
            </div>
          <%end%>
        <%end%>
      </div>
    </div>


  <!-- Review cards -->
  <div class="review-container" id="rating-cards">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6">
        <div class="review-header">
          <h3>Reviews on <%= @recap.user.username %>'s recap</h3>
            <% if current_user != @recap.user && !current_user&.has_already_rated?(@recap) %>
            <button type="button" class="btn-action" data-bs-toggle="modal" data-bs-target="#exampleModal">Add review</button>
            <%elsif current_user == @recap.user %>
            <p><em style="color: #EB9C0A; font-size: 13px;"> </em></p>
            <%else%>
              <p><em style="color: #EB9C0A; font-size: 13px;">You have already rated this recap.</em></p>
          <%end%>
        </div>

        <div id="anchor-review">
          <% @recap.ratings.each do |r| %>
            <div class="review-card">
              <p id="rating-<%= r.id %>"></p>
              <div style="display: flex;">
                <div style="margin-right: 10px;">
                  <% if r.user.avatar.attached? %>
                    <%= image_tag r.user.avatar, class: "avatar" %>
                  <% else %>
                    <%= image_tag "default-avatar.png", class: "avatar" %>
                  <% end %>
                </div>
                <div>
                  <h4><%= r.user.username %></h4>
                  <p> <i class="fas fa-star" style="color: #F6AE2D;"></i> <%= r.star.to_f %></p>
                </div>
              </div>
              <p><%= r.comment %></p>
              <% if r.user == current_user %>
                <%= link_to rating_path(r), method: :delete, remote: true, data: { confirm: "Are you sure you want to delete this review?"} do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal with review form -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tell us what you think</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= simple_form_for([ @recap, @rating ], remote: true) do |f| %>
            <%= f.input :comment, label: "Comment"  %>
            <%= f.input :star, label: "Rating", collection: 0..5 %>
            <%= f.submit "Submit review", class: "btn-action" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
