<div class="banner" style="background-image: url(<%= image_url "banner.png" %>);">
  <div class="banner-container-recaps">
  <h6><strong>Author:</strong> J.K. Rowling</h6>
    <h1><strong>Your chosen book recap.</strong></h1>
      <div class="mt-3">
        <% @recap.ratings.average("star").round.times do %>
          <i class="fas fa-star" style="color: #F6AE2D;"></i>
        <% end %>
        <strong><%= @recap.ratings.average("star").round(1) %></strong>
      </div>
      <a href="#rating-cards" class="rating-link"><p><%= @recap.ratings.count %> Ratings</p></a>
  </div>
</div>

<div class="recap-cards">
  <% @recaps = Recap.where(book_id: @recap.book.id) %>
  <% @recaps.each do |recap| %>
    <%= link_to recap, style:"text-decoration: none; color: black" do %>
      <div class="card-all">
        <img src="<%= recap.book.photo_url %>">
        <div class= "card-all-infos">
          <h2><%= recap.title %></h2>
          <p><%= recap.user.username %></p>
        </div>
      </div>
    <%end%>
  <%end%>
 </div>

<h1><%= @recap.summary %></h1>

<div class="container" id="rating-cards">
  <h2>Reviews</h2>
  <button type="button" class="btn-action" data-bs-toggle="modal" data-bs-target="#exampleModal">Add review</button>

  <% @recap.ratings.each do |r| %>
    <ul class="mt-2">
      <li class="list-group-item">
        <p id="rating-<%= r.id %>"><%= r.star %> - <%= r.comment %></p>
      </li>
    </ul>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tell us what you think</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for([ @recap, @rating ], remote: true) do |f| %>
          <%= f.input :comment, label: "Comment"  %>
          <%= f.input :star, label: "Rating", collection: 0..5 %>
          <%= f.submit "Submit review", class: "btn-action" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
