<div class="banner" style="background-image: url(<%= image_url "banner.png" %>);">
  <div class="container">
  <h6><strong>Author:</strong> J.K. Rowling</h6>
    <h1><strong>Your chosen book recap.</strong></h1>
    <p>Ratings will go here link will need to be implemented.</p>
  </div>
</div>

<div class="container">
  <h5>Recaped by: <%=@recap.user.username %> </h5>
  <ul class="nav nav-pills mb-3" style="display: flex; justify-content: center;" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Description</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Summary</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Ratings</button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <%= @description = @recap.book.description %>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <%=@recap.summary%>
    </div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
    <%@ratings = Rating.where(recap_id: @recap.id)%>
      <%@ratings.each do |rating|%>
        <%= rating.comment%>
        <%= rating.star%>
      <%end%>
    </div>
  </div>
</div>
