<div class="banner" style="background-image: url(<%= image_url "banner.png" %>);">
  <div class="banner-container-recaps">
  <h6><strong>Author:</strong> J.K. Rowling</h6>
    <h1><strong>Your chosen book recap.</strong></h1>
    <p>Ratings will go here link will need to be implemented.</p>
  </div>
</div>

<h1><%= @recap.summary %></h1>

<div class="container">

  <p>Average rating: </p>
  <%= @recap.ratings.average("star").round(1) %>

  <%= simple_form_for [ @recap, @rating ] do |f| %>
    <%= f.input :comment, label: "Leave your review here"  %>
    <%= f.input :star, collection: 0..5 %>
    <%= f.submit "Submit review", class: "btn-action" %>
  <% end %>
</div>
