<div class= "container p-6 mb-4">
  <h2 class="text-center my-3">This site was made with lots of fun by these <strong>amazing</strong> women!</h2>
  <!-- Should add a little mor to the about page. -->
  <!-- Photos of the 4 of us -->
  <div class="about-photos mt-4">
    <div class="text-center main-photo"><%= image_tag "nick.jpg", class: "main-photo" %><h4 class="text-center">Nicola</h4></div>
    <div class="text-center main-photo"><%= image_tag "melissa.jpg", class: "main-photo" %><h4 class="text-center">Melissa</h4></div>
    <div class="text-center main-photo"><%= image_tag "michelle.jpg", class: "main-photo" %><h4 class="text-center">Michelle</h4></div>
    <div class="text-center main-photo"><%= image_tag "anna.jpg", class: "main-photo" %><h4 class="text-center">Anna</h4></div>
  </div>
  <br>
  <br>

  <!-- Group photo -->
  <div class="row justify-content-md-center">
    <%= image_tag "group.jpg", class: "group-photo" %>
  </div>
  <br>
  <br>
</div>
