<div class="home-links mb-3">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <%= link_to "All Recaps", recaps_all_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Top Recaps", recaps_all_path(top: 'yes'), class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "My Dashboard", dashboard_index_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "New Recap", new_recap_path, class: "nav-link" %>
    </li>
  </ul>
</div>

<div class="banner" style="background-image: url(<%= image_url "banner.png" %>);">
  <div class="container-home">
    <h2>Welcome to</h2>
    <h1>read<em>Caps</em></h1>
    <p>Find recaps of your favorite books</p>
    <%= link_to books_path do %> <button class="button-action" type="submit">All Books</button>
    <% end %>
  </div>
</div>
</div>

<div class= "container p-6 my-4">
  <h1 class="text-center mb-2">Latest recaps</h1>
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class= "container p-6 my-4">
          <div class= "row fixed-height">
            <div class="recapcards">
              <% @recaps = Recap.order("created_at DESC").limit(5) %>
              <%= render "shared/recapcards" %>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class= "container p-6 my-4">
          <div class= "row fixed-height">
            <div class="recapcards">
              <% @recaps = Recap.order("created_at DESC").offset(5).limit(5) %>
              <%= render "shared/recapcards" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!--Gold Silver bronze  -->
  <h2 class="text-center mb-2">Ready, Set, Gold!</h2>
   <h5 class="text-center mb-2">Our best rated readCappers</h5>
  <!--Best rated User through recaps  -->
  <div class="ranking-cards">
    <div class = "best-ranked justify-content-center">
      <div class="first">
        <i class="fas fa-solid fa-award" style="color: #F6AE2D; font-size: 50px;"></i>
        <%= @top_users[0].username %>
        <%= image_tag @top_users[0].avatar, class: "recap-avatar" %>
        <i class="fas fa-star" style="color: #F6AE2D; font-size: 20px; padding: 5px;"></i>
        <p style="font-size: 20px; font-weight: bold; display: flex; flex-direction: column;"><%= @top_users[0].avg_received_ratings%></p>
      </div>
      <div class="second">
        <i class="fas fa-solid fa-award" style="color: silver; font-size: 40px;"></i>
        <%= @top_users[1].username %>
        <%= image_tag @top_users[1].avatar, class: "recap-avatar" %>
      <i class="fas fa-star" style="color: #F6AE2D; font-size: 20px; padding: 5px;"></i>
      <p style="font-size: 20px; font-weight: bold; display: flex; flex-direction: column;"><%= @top_users[1].avg_received_ratings%></p>
      </div>

      <div class="third">
      <i class="fas fa-solid fa-award" style="color: #d6b4a4; font-size: 30px;"></i>
        <%= @top_users[2].username %>
        <%= image_tag @top_users[2].avatar, class: "recap-avatar" %>
        <i class="fas fa-star" style="color: #F6AE2D; font-size: 20px; padding: 5px;"></i>
        <p style="font-size: 20px; font-weight: bold; display: flex; flex-direction: column;"><%= @top_users[2].avg_received_ratings%></p>
      </div>
    </div>
  </div>

<br>
<br>

<div class = "container">
  <h2 class="text-center mb-2">Authors you might be interested in:</h2>
  <div class="cards">
    <%= image_tag "rowling.jpg", class: "card" %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
      J.K. Rowling
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),">
      B. Sanderson
    </div>
  </div>
</div>

<div class = "container">
  <h2 class="text-center mb-2">Recap this book request:</h2>
</div>
