<div class="home-links mb-3">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/books">All Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/recaps">Top Recaps</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">My Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">New Recap</a>
    </li>
  </ul>
</div>

<div class="banner" style="background-image: url(<%= image_url "banner.png" %>);">
  <div class="banner-container">
    <h4>Welcome to</h4>
    <h1>read<em>Caps</em></h1>
    <p>Find recaps of your favorite books</p>
    <%= link_to root_path do %>
      <button class="button-action" type="submit">See all recaps</button>
    <% end %>
  </div>
</div>


<div class= "container p-6">
  <h1>Popular Now:</h1>

  <div class="recap-cards">
      <!-- Show 5 random book recaps-->
      <% @recaps = Recap.all.sample(5) %>
      <% @recaps.each do |recap| %>
        <%= link_to recap, style:"text-decoration: none; color: black" do %>
          <div class="card-all">
            <img src="<%= recap.book.photo_url %>">
            <div class= "card-all-infos">
              <h2><%= recap.title %></h2>
              <p><%= recap.user.username %></p>
            </div>
          </div>
        <%end%>
      <%end%>
  </div>
</div>
