<div class="home-links mb-3">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <%= link_to "All Books", books_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Top Recaps", recaps_all_path(top: 'yes'), class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "My Dashboard", root_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "New Recap", new_recap_path, class: "nav-link" %>
    </li>
  </ul>
</div>

<div class="banner" style="background-image: url(<%= image_url "banner.png" %>);">
  <div class="banner-container">
    <h4>Welcome to</h4>
    <h1>read<em>Caps</em></h1>
    <p>Find recaps of your favorite books</p>
    <%= link_to recaps_all_path do %>
      <button class="button-action" type="submit">See all recaps</button>
    <% end %>
  </div>
</div>

<div class= "container p-6 my-4">
  <h2 class="text-center mb-4">Latest recaps:</h2>
  <div class="recap-cards">
    <!-- Show 5 random book recaps-->
    <% @recaps = Recap.all.sample(5) %>
    <%= render "shared/recapcards" %>
  </div>
</div>
