<%# All books search form %>
<%= render "shared/searchform" %>

<div class="container mb-5">

  <%# Showing either all books or only the books from the user search %>
  <% if params[:query].present? %>
    <h1 class="text-center title-card">Your results for your search</h1>
  <% else %>
    <h1 class="text-center title-card">All available books with recaps</h1>
  <% end %>

  <br>

  <%# Book cards %>
  <div class="cards">
    <% books_sorted = @books.order('title ASC')%>
    <% books_sorted.each do |book| %>
      <%= link_to book_recaps_path(book), class: "a", style: "color: $black;" do %>

        <%# Interactive cover when hovered %>
        <div class="card-book">
          <div class="book-card__cover">
            <div class="book-card__book">
              <div class="book-card__book-front">
                <%= image_tag book.photo_url, class: "book-card__img" %>
              </div>
              <div class="book-card__book-back"></div>
              <div class="book-card__book-side"></div>
            </div>
          </div>

          <%# Title and Author %>
          <div class="card-info">
            <h2><%= book.title %></h2>
            <p><%= book.author %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
